header{
    background-color: aqua;
    position: relative;
   bottom: 50px;
    height: 80px;
}
a{
    position: relative;
    left: 1000px;
    top: 50px;
}
button{
    position: relative;
    left: 1200px;

}